@media (max-width: 1300px) {
    #Register form{
        width: 280px;
    }
    #Search{
        width: 200px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    #Register form{
        width: 350px;
    }
    #Search{
        width: 250px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #Register form{
        width: 400px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #Register form{
        width: 450px;
    }
    #Search{
        width: 300px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #Register form{
        width: 500px;
    }
}